registry=https://registry.npmjs.org/

; begin auth token
//pkgs.dev.azure.com/SincoAYF/AYF/_packaging/AYFComunes/npm/registry/:username=SincoAYF
//pkgs.dev.azure.com/SincoAYF/AYF/_packaging/AYFComunes/npm/registry/:_password=ZzZ5NGN5bmdnZjRlcXJpYm0zdWdyZ3EydjNmamo2ZjZjcXNuYnR6cWNmZmttanB4ZjRncQ==
//pkgs.dev.azure.com/SincoAYF/AYF/_packaging/AYFComunes/npm/registry/:email=ronal.castano@sinco.com.co
//pkgs.dev.azure.com/SincoAYF/AYF/_packaging/AYFComunes/npm/:username=SincoAYF
//pkgs.dev.azure.com/SincoAYF/AYF/_packaging/AYFComunes/npm/:_password=ZzZ5NGN5bmdnZjRlcXJpYm0zdWdyZ3EydjNmamo2ZjZjcXNuYnR6cWNmZmttanB4ZjRncQ==
//pkgs.dev.azure.com/SincoAYF/AYF/_packaging/AYFComunes/npm/:email=ronal.castano@sinco.com.co
; end auth token

@ayf:registry=https://pkgs.dev.azure.com/SincoAYF/AYF/_packaging/AYFComunes/npm/registry/ 
                        
always-auth=true