#root,
html,
body {
    height: 100%;
}

body {
    margin: 0px;
}

div:has(.UpZIndex) {
    z-index: 10000;
}

.MuiInputLabel-root.Mui-required {
    display: flex;
    flex-direction: row-reverse;
    gap: .2rem;
}